* {
    margin: 0;
    padding: 0;
}


nav {
    color: white;
    height: 72px;
    background-color: rgb(120, 12, 44);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-family: "Pacifico", cursive;
}

nav ul {
    list-style-type: none;
}

body {
    background-color: rgb(0, 0, 0);
}

.boxtext {
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.gamecont {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 250px;
    gap: 60px;
}

.gameinfo {
    font-family: "Pacifico", cursive;
    color: white;
    margin-top: 150px;
    margin-right: 100px;
}


.cont {
    display: grid;
    font-family: "Bebas Neue", sans-serif;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    margin: 50px auto;
}

.box {
    border: 1px solid white;
    font-size: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(159, 116, 141);
}

.gameinfo {
    padding: 0 50px;
    font-family: "Pacifico", cursive;
    margin-top: 0 80px;

}

.img {
    display: none;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    margin: 0 40px;
    padding: 6px 14px;
    background-color: rgb(223, 198, 198);
    border-radius: 6px;
    cursor: pointer;
    font-family: "Pacifico", cursive;
    font-size: 27px;
    text-align: center;

}